# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.metadata/.lock
/.metadata/.mylyn/.taskListIndex/segments.gen
/.metadata/.mylyn/.taskListIndex/segments_1
/.metadata/.plugins/org.eclipse.core.resources/.projects/Primer01/.indexes/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/Primer01/org.eclipse.egit.core/GitProjectData.properties
/.metadata/.plugins/org.eclipse.core.resources/.projects/Primer01/org.eclipse.jdt.core/state.dat
/.metadata/.plugins/org.eclipse.core.resources/.projects/Primer02TestNG/.indexes/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/Primer02TestNG/org.eclipse.egit.core/GitProjectData.properties
/.metadata/.plugins/org.eclipse.core.resources/.projects/Primer02TestNG/org.eclipse.jdt.core/state.dat
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
/.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.logging.aeri.ide.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
/.metadata/.plugins/org.eclipse.debug.core/.launches/ProveriNaslovTest.launch
/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
/.metadata/.plugins/org.eclipse.jdt.core/1061546817.index
/.metadata/.plugins/org.eclipse.jdt.core/1192823614.index
/.metadata/.plugins/org.eclipse.jdt.core/1443842894.index
/.metadata/.plugins/org.eclipse.jdt.core/1482729776.index
/.metadata/.plugins/org.eclipse.jdt.core/1499983510.index
/.metadata/.plugins/org.eclipse.jdt.core/1532205135.index
/.metadata/.plugins/org.eclipse.jdt.core/1603230340.index
/.metadata/.plugins/org.eclipse.jdt.core/162384388.index
/.metadata/.plugins/org.eclipse.jdt.core/1639671122.index
/.metadata/.plugins/org.eclipse.jdt.core/2146383365.index
/.metadata/.plugins/org.eclipse.jdt.core/2155425021.index
/.metadata/.plugins/org.eclipse.jdt.core/2291217051.index
/.metadata/.plugins/org.eclipse.jdt.core/2305431868.index
/.metadata/.plugins/org.eclipse.jdt.core/2348172651.index
/.metadata/.plugins/org.eclipse.jdt.core/2366099222.index
/.metadata/.plugins/org.eclipse.jdt.core/266106165.index
/.metadata/.plugins/org.eclipse.jdt.core/271053300.index
/.metadata/.plugins/org.eclipse.jdt.core/2763380001.index
/.metadata/.plugins/org.eclipse.jdt.core/3073746247.index
/.metadata/.plugins/org.eclipse.jdt.core/3195482411.index
/.metadata/.plugins/org.eclipse.jdt.core/3354588320.index
/.metadata/.plugins/org.eclipse.jdt.core/3761693421.index
/.metadata/.plugins/org.eclipse.jdt.core/3975369358.index
/.metadata/.plugins/org.eclipse.jdt.core/4142975294.index
/.metadata/.plugins/org.eclipse.jdt.core/649596672.index
/.metadata/.plugins/org.eclipse.jdt.core/870832291.index
/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
/.metadata/.plugins/org.eclipse.jdt.debug.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.7.0.20160603-1933.xml
/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
/.metadata/.plugins/org.eclipse.ui.intro/introstate
/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
/.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
/.metadata/version.ini
/.metadata/.plugins/org.eclipse.core.resources/.root/3.tree
/.metadata/.plugins/org.eclipse.debug.core/.launches/ProveriNaslov.launch
/.metadata/.plugins/org.eclipse.jdt.core/1188785453.index
/.metadata/.plugins/org.eclipse.jdt.core/1794327708.index
/.metadata/.plugins/org.eclipse.jdt.core/1878111493.index
/.metadata/.plugins/org.eclipse.jdt.core/1897928139.index
/.metadata/.plugins/org.eclipse.jdt.core/2953298812.index
/.metadata/.plugins/org.eclipse.jdt.core/3079686767.index
/.metadata/.plugins/org.eclipse.jdt.core/3431489974.index
/.metadata/.plugins/org.eclipse.jdt.core/3498974549.index
/.metadata/.plugins/org.eclipse.jdt.core/3517127072.index
/.metadata/.plugins/org.eclipse.jdt.core/3698278747.index
/.metadata/.plugins/org.eclipse.jdt.core/3705452257.index
/.metadata/.plugins/org.eclipse.jdt.core/3861206012.index
/.metadata/.plugins/org.eclipse.jdt.core/402782763.index
/.metadata/.plugins/org.eclipse.jdt.core/434535315.index
/.metadata/.plugins/org.eclipse.jdt.core/58444662.index
/.metadata/.plugins/org.eclipse.jdt.core/899518542.index
/.metadata/.plugins/org.eclipse.jdt.core/904289187.index
/.metadata/.plugins/org.eclipse.jdt.core/972666350.index
/.metadata/.plugins/org.eclipse.ui.intro/dialog_settings.xml
/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.jdt.core.external.folders/.location
/.metadata/.plugins/org.eclipse.core.resources/.projects/Primer01/org.sonarlint.eclipse.core/issues/d/c/dc5e6be17b8837b6ddd0bd1476f3727987d5d0f8
/.metadata/.plugins/org.eclipse.core.resources/.projects/Primer01/org.sonarlint.eclipse.core/issues/index.pb
/.metadata/.plugins/org.eclipse.core.resources/.projects/Primer02TestNG/org.sonarlint.eclipse.core/issues/2/c/2cd9ca57da8c320f8ea863f2fa3a01d9bacebe2d
/.metadata/.plugins/org.eclipse.core.resources/.projects/Primer02TestNG/org.sonarlint.eclipse.core/issues/index.pb
/.metadata/.plugins/org.eclipse.core.resources/.root/6.tree
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.mpc.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.junit.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.api.tools.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.ws.service.policy.prefs
/.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.egit.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.epp.mpc.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.equinox.p2.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.jdt.core/.org.eclipse.jdt.core.external.folders/.project
/.metadata/.plugins/org.eclipse.jdt.core/1811856659.index
/.metadata/.plugins/org.eclipse.jdt.core/2576169006.index
/.metadata/.plugins/org.eclipse.jdt.core/3187777210.index
/.metadata/.plugins/org.eclipse.jdt.core/3673905458.index
/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_0.cfs
/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_0_1.del
/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_1.cfs
/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments.gen
/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_3
/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/write.lock
/.metadata/.plugins/org.eclipse.m2e.core/nexus/553ff4d3d0cafb826f592a9d7084f01f/_0.cfs
/.metadata/.plugins/org.eclipse.m2e.core/nexus/553ff4d3d0cafb826f592a9d7084f01f/_0_1.del
/.metadata/.plugins/org.eclipse.m2e.core/nexus/553ff4d3d0cafb826f592a9d7084f01f/_1.cfs
/.metadata/.plugins/org.eclipse.m2e.core/nexus/553ff4d3d0cafb826f592a9d7084f01f/segments.gen
/.metadata/.plugins/org.eclipse.m2e.core/nexus/553ff4d3d0cafb826f592a9d7084f01f/segments_3
/.metadata/.plugins/org.eclipse.m2e.core/nexus/553ff4d3d0cafb826f592a9d7084f01f/write.lock
/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_0.cfs
/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_0_1.del
/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_1.cfs
/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments.gen
/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_3
/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/write.lock
/.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.16.0.20200318-1040.xml
/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
/.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
/.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
/.metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
/Primer02TestNG/.metadata/.lock
/Primer02TestNG/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
/Primer02TestNG/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
/Primer02TestNG/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
/Primer02TestNG/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
/Primer02TestNG/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
/Primer02TestNG/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
/Primer02TestNG/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
/Primer02TestNG/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
/Primer02TestNG/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
/Primer02TestNG/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
/Primer02TestNG/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
/Primer02TestNG/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
/Primer02TestNG/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
/Primer02TestNG/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
/Primer02TestNG/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
/Primer02TestNG/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.navigator.prefs
/Primer02TestNG/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
/Primer02TestNG/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
/Primer02TestNG/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
/Primer02TestNG/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
/Primer02TestNG/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
/Primer02TestNG/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
/Primer02TestNG/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
/Primer02TestNG/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
/Primer02TestNG/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
/Primer02TestNG/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.16.0.20200318-1040.xml
/Primer02TestNG/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
/Primer02TestNG/.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
/Primer02TestNG/.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
/Primer02TestNG/.metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
/Primer02TestNG/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
/Primer02TestNG/.metadata/.plugins/org.eclipse.ui.intro/dialog_settings.xml
/Primer02TestNG/.metadata/.plugins/org.eclipse.ui.intro/introstate
/Primer02TestNG/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
