# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.metadata/.lock
/.metadata/.mylyn/.taskListIndex/segments.gen
/.metadata/.mylyn/.taskListIndex/segments_1
/.metadata/.plugins/org.eclipse.core.resources/.projects/Primer01/.indexes/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/Primer01/org.eclipse.egit.core/GitProjectData.properties
/.metadata/.plugins/org.eclipse.core.resources/.projects/Primer01/org.eclipse.jdt.core/state.dat
/.metadata/.plugins/org.eclipse.core.resources/.projects/Primer02TestNG/.indexes/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/Primer02TestNG/org.eclipse.egit.core/GitProjectData.properties
/.metadata/.plugins/org.eclipse.core.resources/.projects/Primer02TestNG/org.eclipse.jdt.core/state.dat
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
/.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.logging.aeri.ide.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
/.metadata/.plugins/org.eclipse.debug.core/.launches/ProveriNaslovTest.launch
/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
/.metadata/.plugins/org.eclipse.jdt.core/1061546817.index
/.metadata/.plugins/org.eclipse.jdt.core/1192823614.index
/.metadata/.plugins/org.eclipse.jdt.core/1443842894.index
/.metadata/.plugins/org.eclipse.jdt.core/1482729776.index
/.metadata/.plugins/org.eclipse.jdt.core/1499983510.index
/.metadata/.plugins/org.eclipse.jdt.core/1532205135.index
/.metadata/.plugins/org.eclipse.jdt.core/1603230340.index
/.metadata/.plugins/org.eclipse.jdt.core/162384388.index
/.metadata/.plugins/org.eclipse.jdt.core/1639671122.index
/.metadata/.plugins/org.eclipse.jdt.core/2146383365.index
/.metadata/.plugins/org.eclipse.jdt.core/2155425021.index
/.metadata/.plugins/org.eclipse.jdt.core/2291217051.index
/.metadata/.plugins/org.eclipse.jdt.core/2305431868.index
/.metadata/.plugins/org.eclipse.jdt.core/2348172651.index
/.metadata/.plugins/org.eclipse.jdt.core/2366099222.index
/.metadata/.plugins/org.eclipse.jdt.core/266106165.index
/.metadata/.plugins/org.eclipse.jdt.core/271053300.index
/.metadata/.plugins/org.eclipse.jdt.core/2763380001.index
/.metadata/.plugins/org.eclipse.jdt.core/3073746247.index
/.metadata/.plugins/org.eclipse.jdt.core/3195482411.index
/.metadata/.plugins/org.eclipse.jdt.core/3354588320.index
/.metadata/.plugins/org.eclipse.jdt.core/3761693421.index
/.metadata/.plugins/org.eclipse.jdt.core/3975369358.index
/.metadata/.plugins/org.eclipse.jdt.core/4142975294.index
/.metadata/.plugins/org.eclipse.jdt.core/649596672.index
/.metadata/.plugins/org.eclipse.jdt.core/870832291.index
/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
/.metadata/.plugins/org.eclipse.jdt.debug.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.7.0.20160603-1933.xml
/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
/.metadata/.plugins/org.eclipse.ui.intro/introstate
/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
/.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
/.metadata/version.ini
